body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}
.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: dimgray;
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transform: bachground-color 0.5s ease;
}
.start-button{
  background-color: chartreuse;
}
.start-button:hover{
  background-color: rgb(45, 141, 0);
}
.stop-button{
  background-color: rgb(236, 0, 0);
}
.stop-button:hover{
  background-color: rgb(122, 0, 0);
}
.reset-button{
  background-color: rgb(43, 0, 236);
}
.reset-button:hover{
  background-color: rgb(18, 0, 122);
}